<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Create Supervisor</title>
  </head>
  <body>
    <h2>Add New Supervisor</h2>

    <div th:if="${error != null}" style="color: red">
      <p th:text="${error}"></p>
    </div>

    <form
      th:action="@{/admin/supervisors/create}"
      method="post"
      th:object="${supervisor}"
    >
      <div>
        <label>Full Name</label><br />
        <input type="text" th:field="*{fullName}" required />
      </div>

      <br />

      <div>
        <label>Email</label><br />
        <input type="email" th:field="*{email}" required />
      </div>

      <br />

      <button type="submit">Save</button>
      <a th:href="@{/admin/supervisors}">Cancel</a>
    </form>
  </body>
</html>
